defaults/flow.json
[
    {
      "type": "tab",
      "id": "7687703.43b0b9",
      "label": "Fiware: COConcentration"
    },
    {
      "type": "tab",
      "label": "API",
      "id": "62906b0d.3c9e8c",
      "z": "62906b0d.3c9e8c"
    },
    {
        "func": "var msg1 = null;\nvar msg2 = null;\n\nif(msg.statusCode != 200){\n    msg2 = msg;\n}else if(context.global.fitoken && context.global.FIWARE_USER){\n    msg1 = msg;\n    msg.payload = context.global.fitoken;\n}else{\n    msg1 = msg;\n    context.global.fitoken = msg.payload;\n}\nreturn [msg1, msg2];",
        "id": "cb94a294.e02c48",
        "name": "save token to globals",
        "noerr": 0,
        "outputs": "2",
        "type": "function",
        "wires": [
            [
                "8a1d8912.3722a",
                "aaaf9f6.85a1c6"
            ],
            [
                "8a1d8912.3722a"
            ]
        ],
        "x": 646,
        "y": 434.5,
        "z": "7687703.43b0b9"
    },
    {
        "id": "946d41d.974cf4",
        "method": "POST",
        "name": "Retrieve FIWARE/Orion Events",
        "ret": "obj",
        "type": "http request",
        "url": "http://orion.lab.fiware.org:1026/v1/queryContext?limit=300&details=on",
        "wires": [
            [
                "1b5a44a5.d5158b"
            ]
        ],
        "x": 574,
        "y": 146,
        "z": "7687703.43b0b9"
    },
    {
        "func": "if(!context.global.fitoken){\n    return;\n}\nmsg.headers = {\n \"X-Auth-Token\": context.global.fitoken,\n \"Accept\": \"application/json\"\n}\nmsg.payload = {\n \"entities\": [\n {\n \"type\": \"santander:device\",\n \"isPattern\": \"true\",\n \"id\": \".*fixed.*\"\n }\n ],\n \"attributes\" : [\"Latitud\", \"Longitud\", \"COConcentration\", \"TimeInstant\"],\n \"restriction\": {\n \"scopes\": [\n {\n \"type\": \"FIWARE::StringQuery\",\n \"value\": \"COConcentration\"\n }\n ]\n }\n}\nreturn msg;",
        "id": "aaaf9f6.85a1c6",
        "name": "Prepare FIWARE/Orion Query",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "946d41d.974cf4"
            ]
        ],
        "x": 428,
        "y": 239,
        "z": "7687703.43b0b9"
    },
    {
        "crontab": "",
        "id": "999e52d8.4b674",
        "name": "Events retrieval: EVERY 10 MINUTES",
        "once": false,
        "payload": "",
        "payloadType": "date",
        "repeat": "600",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "7833bd41.27f9c4"
            ]
        ],
        "x": 199,
        "y": 147,
        "z": "7687703.43b0b9"
    },
    {
        "func": "ctxs=msg.payload.contextResponses;\nvar objs = [];\nfor (i=0; i<ctxs.length;i++) {\n    ctx = ctxs[i].contextElement;\n    var obj = {\"id\": ctx.id};\n    // store id and set of key-value pairs reflecting names and values \n    // of attributes (skipping types, metadata, etc)\n    for (j=0; j<ctx.attributes.length; j++) {\n        att = ctx.attributes[j];\n        obj[att.name]=att.value;\n    }\n    objs.push(obj);\n}\nmsg.payload = objs;\n\nreturn msg;",
        "id": "1b5a44a5.d5158b",
        "name": "Parse & reformat events",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "22985c62.9ee484"
            ]
        ],
        "x": 730.5,
        "y": 239,
        "z": "7687703.43b0b9"
    },
    {
        "id": "22985c62.9ee484",
        "name": "split array into elements",
        "property": "payload",
        "type": "splitter",
        "wires": [
            [
                "b8c40a8.28d28f8",
                "aa8af7e2.adf958"
            ]
        ],
        "x": 876,
        "y": 145,
        "z": "7687703.43b0b9"
    },
    {
        "cloudant": "",
        "database": "stdco",
        "id": "b8c40a8.28d28f8",
        "name": "Store in Cloudant: STDCO",
        "operation": "insert",
        "payonly": true,
        "service": "air-pollution-monitor-kpave1-x10-cloudant",
        "type": "cloudant out",
        "wires": [],
        "x": 1146,
        "y": 144,
        "z": "7687703.43b0b9"
    },
    {
        "drop": false,
        "id": "7833bd41.27f9c4",
        "name": "",
        "pauseType": "delay",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "rate": "1",
        "rateUnits": "second",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "type": "delay",
        "wires": [
            [
                "aaaf9f6.85a1c6"
            ]
        ],
        "x": 188,
        "y": 236,
        "z": "7687703.43b0b9"
    },
    {
        "id": "698042d2.62dad4",
        "name": "",
        "service": "air-pollution-monitor-kpave1-x10-dashDB",
        "table": "STDCODB",
        "type": "dashDB out",
        "wires": [],
        "x": 1196,
        "y": 231,
        "z": "7687703.43b0b9"
    },
    {
        "func": "i = msg.payload;\nmsg.payload = {\n  \"ID\": i.id,\n  \"LATITUD\": parseFloat(i.Latitud),\n  \"LONGITUD\": parseFloat(i.Longitud),\n  \"TIMEINSTANT\": i.TimeInstant.slice(0, 19).replace('T', ' '),\n  \"COCONCENTRATION\": parseFloat(i.COConcentration)\n};\nreturn msg;\n",
        "id": "aa8af7e2.adf958",
        "name": "transofrm to SQL-typed objects",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "698042d2.62dad4"
            ]
        ],
        "x": 954,
        "y": 325,
        "z": "7687703.43b0b9"
    },
    {
        "id": "a5a72a5e.150b18",
        "method": "post",
        "name": "",
        "swaggerDoc": "",
        "type": "http in",
        "url": "/auth",
        "wires": [
            [
                "f2495a48.46a448"
            ]
        ],
        "x": 125,
        "y": 39,
        "z": "7687703.43b0b9"
    },
    {
        "func": "if (!msg.payload.token || msg.payload.token !== context.global.fitoken){\n    node.warn(\"Token: \" + msg.payload.token + \" != \" + context.global.fitoken);\n    msg.statusCode = 401;\n}\n\nreturn msg;",
        "id": "f2495a48.46a448",
        "name": "validate token",
        "noerr": 0,
        "outputs": "1",
        "type": "function",
        "wires": [
            [
                "180797db.a7b198"
            ]
        ],
        "x": 396,
        "y": 40,
        "z": "7687703.43b0b9"
    },
    {
        "id": "180797db.a7b198",
        "name": "",
        "type": "http response",
        "wires": [],
        "x": 687,
        "y": 40.5,
        "z": "7687703.43b0b9"
    },
    {
        "id": "a10dc789.0edde8",
        "method": "post",
        "name": "",
        "swaggerDoc": "",
        "type": "http in",
        "url": "/login",
        "wires": [
            [
                "1178d2.f7469f2e"
            ]
        ],
        "x": 94,
        "y": 436,
        "z": "7687703.43b0b9"
    },
    {
        "func": "context.global.user = msg.payload.user || context.global.FIWARE_USER;\ncontext.global.password = msg.payload.password || context.global.FIWARE_PASSWORD;\n\nmsg.headers = {\n    \"Accept\": \"application/json\"\n}\n\nvar msg1 = null;\nvar msg2 = null;\n\nif(context.global.user && context.global.password){\n    msg1 = msg;\n    msg1.payload = {\n        \"username\": context.global.user,\n        \"password\": context.global.password\n    }\n}else{\n    msg2 = msg;\n    msg2.statusCode = 401;\n}\n    \nreturn [msg1, msg2];",
        "id": "1178d2.f7469f2e",
        "name": "save credentials to globals",
        "noerr": 0,
        "outputs": "2",
        "type": "function",
        "wires": [
            [
                "35b6afab.ae1c7"
            ],
            [
                "8a1d8912.3722a"
            ]
        ],
        "x": 209,
        "y": 529.5,
        "z": "7687703.43b0b9"
    },
    {
        "id": "8a1d8912.3722a",
        "name": "",
        "type": "http response",
        "wires": [],
        "x": 952,
        "y": 441.5,
        "z": "7687703.43b0b9"
    },
    {
        "id": "35b6afab.ae1c7",
        "method": "POST",
        "name": "Get token from FIWARE/Orion",
        "ret": "txt",
        "type": "http request",
        "url": "https://orion.lab.fiware.org/token",
        "wires": [
            [
                "cb94a294.e02c48"
            ]
        ],
        "x": 378,
        "y": 434.5,
        "z": "7687703.43b0b9"
    },
    {
        "id": "ad1411c5.11aa78",
        "path": "/ws/comap",
        "type": "websocket-listener",
        "wholemsg": "false",
        "z": "62906b0d.3c9e8c"
    },
    {
        "id": "3e22f09e.7cfc3",
        "method": "POST",
        "name": "Get token from FIWARE/Orion",
        "ret": "txt",
        "type": "http request",
        "url": "https://orion.lab.fiware.org/token",
        "wires": [
            [
                "c7e661dc.fb5dc8"
            ]
        ],
        "x": 605,
        "y": 95,
        "z": "62906b0d.3c9e8c"
    },
    {
        "func": "msg.headers = {\n \"Accept\": \"application/json\"\n}\n\nmsg.payload = {\n \"username\": context.global.user,\n \"password\": context.global.password\n}\n\nreturn msg;",
        "id": "8f9afbc8.88034",
        "name": "Prepare auth request",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "3e22f09e.7cfc3"
            ]
        ],
        "x": 390,
        "y": 35,
        "z": "62906b0d.3c9e8c"
    },
    {
        "crontab": "",
        "id": "70d229fc.67c4f",
        "name": "Token renewal: EVERY 60 MINUTES",
        "once": false,
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "topic": "",
        "type": "inject",
        "wires": [
            [
                "8f9afbc8.88034"
            ]
        ],
        "x": 177,
        "y": 94,
        "z": "62906b0d.3c9e8c"
    },
    {
        "func": "token=msg.payload\ncontext.global.fitoken = token\nreturn msg;",
        "id": "c7e661dc.fb5dc8",
        "name": "save token to globals",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            []
        ],
        "x": 783,
        "y": 40,
        "z": "62906b0d.3c9e8c"
    },
    {
        "id": "2adff13a.5f361e",
        "method": "GET",
        "name": "",
        "ret": "bin",
        "type": "http request",
        "url": "",
        "wires": [
            [
                "4006d1c5.96cb7"
            ]
        ],
        "x": 745.000244140625,
        "y": 547.9999084472656,
        "z": "62906b0d.3c9e8c"
    },
    {
        "id": "1fd45940.288167",
        "method": "get",
        "name": "",
        "swaggerDoc": "",
        "type": "http in",
        "url": "/report",
        "wires": [
            [
                "7c7ba490.83845c"
            ]
        ],
        "x": 89.00013732910156,
        "y": 482.9999084472656,
        "z": "62906b0d.3c9e8c"
    },
    {
        "id": "4006d1c5.96cb7",
        "name": "",
        "type": "http response",
        "wires": [],
        "x": 1012.000244140625,
        "y": 479.9999084472656,
        "z": "62906b0d.3c9e8c"
    },
    {
        "id": "e71da423.436078",
        "method": "GET",
        "name": "",
        "ret": "obj",
        "type": "http request",
        "url": "",
        "wires": [
            [
                "f23e0a62.472598"
            ]
        ],
        "x": 492.0001220703125,
        "y": 548.9998779296875,
        "z": "62906b0d.3c9e8c"
    },
    {
        "func": "var REPORT_DEFINITION_NAME = \"fidef\";\n\nvar reportingUri = \"\";\n\nObject.keys(context.global.VCAP_SERVICES).forEach(function(key) {\n\tvar name = key.toString().toUpperCase();\n\tif (name.indexOf('ERSERVICE') !== -1) {\n\t\treportingUri = context.global.VCAP_SERVICES[key][0].credentials.url;\n\t}\n});\n\nfor (var i in msg.payload) {\n    if (msg.payload[i].name === REPORT_DEFINITION_NAME) {\n        msg.url = reportingUri + msg.payload[i].url + \"/reports/pdf\";        \n        // node.log(\"setting msg.url to: \" + msg.url);\n        msg.headers.Cookie = context.global.cookie;\n        return msg;\n    }\n}\n\nnode.log(\"Couldn't find report definition with name \" + REPORT_DEFINITION_NAME);\n",
        "id": "f23e0a62.472598",
        "name": "Find report definition",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "2adff13a.5f361e"
            ]
        ],
        "x": 743.0001220703125,
        "y": 413.9998474121094,
        "z": "62906b0d.3c9e8c"
    },
    {
        "client": "",
        "id": "e75f2914.74a2c8",
        "name": "WS for map view",
        "server": "ad1411c5.11aa78",
        "type": "websocket in",
        "wires": [
            [
                "ccae4e44.3189b"
            ]
        ],
        "x": 100,
        "y": 223,
        "z": "62906b0d.3c9e8c"
    },
    {
        "client": "",
        "id": "c672a345.9bfd18",
        "name": "WS reply",
        "server": "ad1411c5.11aa78",
        "type": "websocket out",
        "wires": [],
        "x": 914,
        "y": 285,
        "z": "62906b0d.3c9e8c"
    },
    {
        "cloudant": "",
        "database": "stdco",
        "design": "stdco",
        "id": "f833e7b4.4b6ea8",
        "index": "comap",
        "name": "Query CO data from the db: STDCO",
        "search": "_idx_",
        "service": "air-pollution-monitor-kpave1-x10-cloudant",
        "type": "cloudant in",
        "wires": [
            [
                "b4a17928.f7abd8"
            ]
        ],
        "x": 439,
        "y": 223,
        "z": "62906b0d.3c9e8c"
    },
    {
        "func": "msg.payload = {query: \"*:*\"};\nreturn msg;",
        "id": "ccae4e44.3189b",
        "name": "Cloudand query",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "f833e7b4.4b6ea8"
            ]
        ],
        "x": 242,
        "y": 281,
        "z": "62906b0d.3c9e8c"
    },
    {
        "func": "inp = msg.payload;\nvar outp = [];\nfor(i=0 ; i<inp.length ; i++) {\n    ielem = inp[i];\n    id = ielem.id;\n    val = parseFloat(ielem.COConcentration);\n    var found = false;\n    oelem = {\n        \"ID\": ielem.id, \n        \"LAT\": ielem.Latitud,\n        \"LNG\": ielem.Longitud,\n        \"VAL\": val,\n        \"CNT\": 1\n    };\n    for (j=0;j<outp.length;j++) {\n        if (outp[j].ID == inp[i].id) {\n            // we already have this ID in outp\n            found = true;\n            // calculate rolling average\n            cnt = outp[j].CNT;\n            outp[j].VAL = (outp[j].VAL*cnt + val) / (cnt+1);\n            outp[j].CNT = cnt+1;\n            break;\n        } \n    }\n    if (!found) {\n        // add new element to outp\n        outp.push(oelem);\n    }\n}\nmsg.payload = outp;\nreturn msg;",
        "id": "b4a17928.f7abd8",
        "name": "aggregate results (average CO)",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "c672a345.9bfd18"
            ]
        ],
        "x": 674,
        "y": 282,
        "z": "62906b0d.3c9e8c"
    },
    {
        "checkall": "true",
        "id": "fab60ecc.77fe68",
        "name": "",
        "outputs": 2,
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            }
        ],
        "type": "switch",
        "wires": [
            [
                "24e31954.87a966"
            ],
            [
                "40b89727.cf9fa8"
            ]
        ],
        "x": 648,
        "y": 698,
        "z": "62906b0d.3c9e8c"
    },
    {
        "id": "b5a798fe.0bb3a8",
        "method": "get",
        "name": "",
        "swaggerDoc": "",
        "type": "http in",
        "url": "/wait4data",
        "wires": [
            [
                "51cf8f90.19eed8"
            ]
        ],
        "x": 100,
        "y": 698,
        "z": "62906b0d.3c9e8c"
    },
    {
        "func": "// node.log(\"LENGTH: \" + msg.payload.length);\nmsg.payload = msg.payload['1'];\nreturn msg;",
        "id": "b7e247a6.fb01",
        "name": "log length",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "fab60ecc.77fe68"
            ]
        ],
        "x": 461,
        "y": 698,
        "z": "62906b0d.3c9e8c"
    },
    {
        "drop": false,
        "id": "24e31954.87a966",
        "name": "",
        "pauseType": "delay",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "rate": "1",
        "rateUnits": "second",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "type": "delay",
        "wires": [
            [
                "51cf8f90.19eed8"
            ]
        ],
        "x": 457,
        "y": 807,
        "z": "62906b0d.3c9e8c"
    },
    {
        "id": "40b89727.cf9fa8",
        "name": "",
        "type": "http response",
        "wires": [],
        "x": 869,
        "y": 706,
        "z": "62906b0d.3c9e8c"
    },
    {
        "id": "51cf8f90.19eed8",
        "name": "",
        "params": "",
        "query": "SELECT COUNT (*) FROM STDCODB;",
        "service": "air-pollution-monitor-kpave1-x10-dashDB",
        "type": "dashDB in",
        "wires": [
            [
                "b7e247a6.fb01"
            ]
        ],
        "x": 291,
        "y": 698,
        "z": "62906b0d.3c9e8c"
    },
    {
        "id": "5461f524.ab9e0c",
        "method": "POST",
        "name": "",
        "ret": "obj",
        "type": "http request",
        "url": "",
        "wires": [
            [
                "97f00848.680ff8"
            ]
        ],
        "x": 259,
        "y": 546,
        "z": "62906b0d.3c9e8c"
    },
    {
        "func": "// cookies = msg.headers['set-cookie'];\nvar cookieJar = \"\";\nvar ersHeaders = msg.headers;\nfor (var headerName in ersHeaders) {\n    var headerValue = ersHeaders[headerName];\n    if (headerName === 'set-cookie') {\n\t    for (idx = 0; idx < headerValue.length; idx++) {\t\t\t\t\t\t\t\n\t\t    var cookie = headerValue[idx].substring(0, headerValue[idx].indexOf(';') + 1);\n\t\t\tcookieJar += cookie;\n\t\t}\n\t}\n}\n\ncontext.global.cookie = cookieJar;\n\nvar services = context.global.VCAP_SERVICES\nvar reportingUri = \"\";\n\nObject.keys(services).forEach(function(key) {\n\tvar name = key.toString().toUpperCase();\n\tvar credentials = services[key][0]['credentials'];\n\tif (name.indexOf('ERSERVICE') !== -1) {\n\t\treportingUri = credentials['url'];\n\t}\n});\n\nmsg.url = reportingUri + \"/ers/v1/definitions\";\nmsg.headers = {\"Cookie\": cookieJar};\n\nreturn msg;",
        "id": "97f00848.680ff8",
        "name": "Get definitions",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "e71da423.436078"
            ]
        ],
        "x": 489,
        "y": 415,
        "z": "62906b0d.3c9e8c"
    },
    {
        "func": "var services = context.global.VCAP_SERVICES\nvar bundleUri = null;\nvar reportingUri = \"\";\nvar reportingUserId = \"\";\nvar reportingPassword = \"\";\n\nObject.keys(services).forEach(function(key) {\n\tvar name = key.toString().toUpperCase();\n\tvar credentials = services[key][0]['credentials'];\n\tif (name.indexOf('ERSERVICE') !== -1) {\n\t\treportingUri = credentials['url'];\n\t\treportingUserId = credentials['userid'];\n\t\treportingPassword = credentials['password'];\n\t}\n\telse if ((name.indexOf(\"CLOUDANT\") !== -1) && (bundleUri === null)) {\n\t\tbundleUri = credentials['url'];\n\t}\n});\n\nmsg.payload = {'bundleUri': bundleUri};\nmsg.url = reportingUri;\nmsg.url = 'https://08730c89-0722-409e-ae12-19861b5dc8f6:5d8e4027-d0d4-4b80-8157-1c3df2f09936@erservice-impl.ng.bluemix.net/ers/v1/connection';\ntmp = reportingUri.split('//');\nmsg.url = tmp[0] + '//' + reportingUserId + ':' + reportingPassword + '@' + tmp[1] + '/ers/v1/connection';\n\n// msg.username = reportingUserId;\n// msg.password = reportingPassword;\n\nreturn msg;",
        "id": "7c7ba490.83845c",
        "name": "Get cookie",
        "noerr": 0,
        "outputs": 1,
        "type": "function",
        "wires": [
            [
                "5461f524.ab9e0c"
            ]
        ],
        "x": 256,
        "y": 413,
        "z": "62906b0d.3c9e8c"
    }
]
